# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mlrMBO.Rcheck
mlrMBO_*.tar.gz
.Rproj.user
*.Rproj
.Rhistory
html
bench/soo/soo_bench-files/
bench/mco/mco_bench-files/
bench/mlr/modelsel-files
src/*.o
src/*.so
*-swp
**/tmp/**
*.RData
.Rhistory
.Rcheck
SVMBr*tar.gz
*.Rcheck
webpage/**
